html, body {
	margin: 0;
 	padding: 0;
 	width: 100%;
 	height: 100%;
}


body {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	color: #424242;
	background: #f4f4f4;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
    color: #993300;
}

a:visited {
	color: #000;
}

.container {
	width: 100%;
	display: grid;
	grid-template-rows: 100px 1fr 400px auto 15%;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	grid-template-areas: "header"
						 "what"
						 "video"
						 "items"
						 "footer"; 
}

#header {
	grid-area: header;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #FFF;
	opacity: 0.9;
	z-index: 3;
}


#header-img {
	height: 100px;
	width: 100%;
}


#nav-bar {
	display: none;
}

.nav-items {
	display: flex;
	justify-content: space-around;
}

.nav-items li {
	list-style: none;
	padding: 0 15px;

}


#what {
	grid-area: what;
	width: 100%;	
}

.handcraft {
	text-align: center;
}

.handcraft h1 {
	margin-bottom: 15px;
	font-size: 1.8em;

}

#form {
	margin-top: 15px;
	width: 100%;
}

#email-label {
	font-size: 1.5em;
}

.input-field {
    width: 85%;
    height: 1.5em;
    margin: 1vh 0;
    border-radius: 4px;
    font-size: 1.8em;
    text-align: center;
}

.button {
	text-decoration: none;
    padding: 5px;
    display: block;
    margin: 10px auto;
    max-width: 30%;
    
    font-size: 1.8em;
    color: #993300;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #76323f;
}

.button:hover {
	color: #fff;
    background-color: #993300;
}

.button-ordr {
	max-width: 45%;
}

.articles {
	margin: 30px auto;
	width: 100%;
}

.element {
	
	margin: 15px 0;
}

.imagen {
	position: relative;
}

	.imgProd {
		height: 25em;
		width: 100%;
		
	}

	.txt {
		color: #fff;
		position: absolute;
		text-align: center;
		top: 84%;
	    bottom: 1%; left: 0; right: 0;
		background-color: rgba(0, 0, 0, 0.4);
		overflow: hidden;
	}

	.txt h2 {
		margin: 0 1vw;
	}

	.txt p {
		display: none;
	}


#video {
	grid-area: video;
	height: 400px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

#video iframe {
	height: 376px;
	width: 100%;

}

#items {
    grid-area: items;

    margin: 5vh auto;
    width: 70%;
 	min-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.item {
	border: solid 2px #000;
	margin-bottom: 2vh;
}

.item-name {
	background: #fff;
	padding: 10px;
	font-weight: 100;
	font-size: 2em;
}

.item-desc {
	padding: 10px;
}

.price {
	font-size: 3em;
}

.ulist {
	padding: 0;
	font-size: 1.5em;
}

.ulist li {

	list-style: none;
}

.button-ordr {
	font-size: 1.5em;
}

#footer {
	width: 100%;
	grid-area: footer;
	text-align: center;
	

}

#footer-img {
	height: 7vh;
	width: auto;
	margin: 5vh auto;
}

#footer p {
	background-color: #000;
	color: #fff;
	padding: 5vh 0;
}


@media screen and (min-width: 600px)  {
	

	.input-field {
		max-width: 400px;
	}


	.articles {
		width: 90%;
	}

	#submit {
		max-width: 200px;
	}

	.element {
		
	}

		.imagen {
			position: inherit;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			margin: 15px auto;
		}

		.imgProd {
			height: 25vh;
			width: auto;
		}

		.txt {
			color: inherit;
			margin-left: 2vh;
			background-color: unset;
			
			position: inherit;
			text-align: justify;
		
		}

			.txt h2 {
				margin: 0;
			}		

			.txt p {
				display: inherit;
				font-size: 1.2em;
			}

	#video {
		width: 100%;

	}

	#video iframe {
		height: 376px;
		width:664px;
	}




}


@media screen and (min-width: 781px) {

	#nav-bar {
		display: inline-block;
	}

	#items {
		flex-direction: row;
		justify-content: space-between;
		
		
	} 


}